.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p Please note that Scrabble is a trademark of the © 2014 Hasbro corporation.  This site is intended as a guide to help scrabble players improve their scores!  Please don't sue me :)
        p &copy;&nbsp;
            a(href='#') Scrabble.Ninja | 2014
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-56281679-1', 'auto');
                ga('send', 'pageview');

block footer