extends layout

block content
  div(class="container")
    include headerTopStrip
    include userControls/search
    div(class="col-lg-12 row")
      ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5043209834432901" data-ad-slot="2477221679" data-ad-format="auto")
    div.clearfix
    div We search the official scrabble dictionary for scrabble words starting with the search terms you provide. In addition there is a list of Words that end with #{word}, words that contain #{word}, and Synonyms of #{word}.  Please do not use this site to cheat your opponents, as that defeats the purpose of the game.  This is meant as a reasearch tool to help impreove your scrabble game.

