extends layout

block content
  div(class="container")
    p Welcome to Scrabble.Ninja the premiere site for improving your scrabble score!  Please use the search box above to start finding Scrabble words.
