extends layout

block content
  div(class="container")
    include headerTopStrip
    include userControls/search
    div We search the official scrabble dictionary for scrabble words starting with the search terms you provide. In addition there is a list of Words that end with #{word}, words that contain #{word}, and Synonyms of #{word}.  Please do not use this site to cheat your opponents, as that defeats the purpose of the game.  This is meant as a reasearch tool to help impreove your scrabble game.

