extends layout

block content
  div(class="container")
    include headerTopStrip
    include userControls/search
    h4 This site is perfect for finding other Scrabble related topics such as
      a(href='#') Top 10 Scrabble Tips

