doctype html
html
  head
    block head
      block title
        title Scrabble Word Finder - Scrabble.Ninja
      block meta
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        if meta && meta.description
          meta(name='description', content='#{meta.description}')
        else
          meta(name='description', content='Find Scrabble Words easy!  This site can be used to cheat the opposition!  Perfect site for finding different Scrabble Word Combinations, solve with ease!')
        if meta && meta.keywords
          meta(name='keywords', content='#{meta.keywords}')
        else
          meta(name='keywords', content='scrabble,word,finder,cheat,scrabble cheat,scrabble dictionary')
        meta(name="p:domain_verify" content="51d47b5254097396d24a684d536478ab")
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cerulean/bootstrap.min.css')
  body
    include header

    div(class="content")
      block content

    include footer

  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
