doctype html
html
  head
    block head
      block title
        title Scrabble.Ninja
      block meta
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        if meta && meta.description
          meta(name='description', content='#{meta.description}')
        else
          meta(name='description', content='Scrabble Ninja is your definitive resource for finding scrabble words.  This site supports finding words using various search techniques.')
        if meta && meta.keywords
          meta(name='keywords', content='#{meta.keywords}')
        else
          meta(name='keywords', content='scrabble,word,finder,cheat,scrabble cheat,scrabble dictionary')

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cerulean/bootstrap.min.css')
  body
    include header

    div(class="content")
      block content

    include footer
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
