body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.word {
}

.wordblock {

}

.logo {
  position: relative;
  top: -10px;
}
.logo img {
  height: 70px;
}

.content {
  margin-top: 30px;
}