body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.word {
}

.wordblock {

}

.logo {
  position: relative;
  top: -10px;
}
.logo img {
  height: 70px;
}

.content {
  margin-top: 30px;
}

@media (max-width: 329px) {
  .navbar-brand img {
    width: 230px;
    height: 54px;
  }
  .navbar-brand {
   padding-left: 2px !important;
  }
}