div(class="col-sm-12")
    div(class="panel-group col-sm-7" id="accordion")
        div(class="panel panel-default")
            div(class="panel-heading")
                h4(class="panel-title")
                    a(class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Advanced Search
                        i(class="indicator glyphicon glyphicon-chevron-down  pull-right")
            div(id="collapseOne" class="panel-collapse collapse")
                div(class="panel-body")
                    div(class="form-group")
                        label(class="col-sm-3 control-label") Starts With
                        div(class="col-sm-3")
                            input(type='text' class='form-control' name='advStartsWith' value='#{startsWith}')
                    div(class="form-group")
                        label(class="col-sm-3 control-label") Ends With
                        div(class="col-sm-3")
                            input(type='text' class='form-control' name='advEndsWith' value='#{endsWith}')
                    div(class="form-group")
                        label(class="col-sm-3 control-label") Contains
                        div(class="col-sm-3")
                            input(type='text' class='form-control' name='advContains' value='#{contains}')
                    div(class="form-group")
                        label(class="col-sm-3 control-label") Minimum Score
                        div(class="col-sm-3")
                            input(type='text' class='form-control' name='advMinScore' value='#{minScore}')

if ( (startsWith && startsWith.length > 0) || (endsWith && endsWith.length > 0) || (contains && contains.length > 0) || (minScore && minScore.length > 0) )
    script.
        $('#collapseOne').removeClass('collapse');