h3#word-search Word Search
form(role='form' action="/search" method="post" class="form-horizontal")
    div.form-group.col-lg-4.col-sm-12
        select(name="searchType" class="form-control select-box" id="searchTypeDropdown")
            option(value="startswith") Starts With
            option(value="endswith") Ends With
            option(value="contains" selected="1") Letters
    div.form-group.col-lg-4.col-sm-12
        div.input-group
            span.input-group-btn
                a.btn.btn-danger.btn-clear
                    i.fa.fa-times
            input.form-search(type='text' class='form-control' name='searchQuery' placeholder='Letters' value="#{word || ''}")
            span.input-group-btn
                a.btn.btn-primary.btn-add-blank(href='javascript:void(0);')
                    i.fa.fa-star &nbsp; wild
            span.input-group-btn
                button.btn.btn-success(type='submit')
                    i.fa.fa-search &nbsp; go
    div.form-group
        include advancedSearch

    script.
        $( document ).ready(function() {
            var url = window.location.href;
            if(url.indexOf('contain') > 0) {
                $("#searchTypeDropdown").val("contains");
            }
            else if(url.indexOf('start') > 0) {
                $("#searchTypeDropdown").val("startswith");
            }
            else if(url.indexOf('end') > 0) {
                $("#searchTypeDropdown").val("endswith");
            }

            $('.btn-add-blank').click(function(item) {
                var val = $('.form-search').val();
                $('.form-search').val(val + '*');
            });
            $('.btn-clear').click(function() {
                $('.form-search').val('');
            });
        });